@charset "utf-8";
html{ height: 100%; }

body{
  background-color: #1a1a1a;
  height: 100%;
  text-align:center;
}

div#topcontainer{
  background-color: #262626;
  margin:0 auto;
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 672px;
}

table.header{ width: 672px; background-color: #1a1a1a; }

tr.logo{ vertical-align: middle; }
td.logo_left{
  padding: 1em 0;
  text-align: left;
}
td.logo_right{
  color: #808080;
  text-align: right;
}

tr.tab{ background: #000000 url("images/bg_tab.png") bottom repeat-x; }

table.body{
  width: 672px;
  margin-bottom: 60px;
}

td.middle_title{
  background: url("images/divide_line.png") bottom repeat-x;
  padding-bottom: 12px;
}
td.subtitle_left{ padding-left: 8px;}
td.subtitle_right{ padding-right: 4px; }

button{
  border-radius: 4px;
  height: 24px;
}

button:hover{
  background-color: #3E5EC3;
  background: -o-linear-gradient(top, #44ABFF, #1371AB);
  background: -moz-linear-gradient(top, #44ABFF, #1371AB);
  background: -webkit-gradient(linear, left top, left bottom, from(#44ABFF), to(#1371AB));
  background: linear-gradient(to bottom, #44ABFF, #1371AB);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff44ABFF', endColorstr='#ff1371AB');
}

button.disabled:hover{
  background-color: #393939;
  background: -o-linear-gradient(top, #595959, #1A1A1A);
  background: -moz-linear-gradient(top, #595959, #1A1A1A);
  background: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#1A1A1A));
  background: linear-gradient(to bottom, #595959, #1A1A1A);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff595959', endColorstr='#ff1A1A1A');
}

td.item_left{ width: 150px; }

td.item_right{ width: auto; }

input.text{
  margin: 4px 0px;
  height: 16px;
}
select{
  border: 1px solid #FFFFFF;
  margin: 4px 0;
  min-height: 20px;
}

div.foot{
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
}
