<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name></name>
  <service>
    <type>_muss._tcp</type>
    <port>11000</port>
    <txt-record>share1=Music</txt-record>
    <txt-record>mac=</txt-record>
  </service>
</service-group>
